.mission{
    color: orange;
}
.alt{
    background-color: tomato;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 50px;
    font-size: 20px;
    font-family: sans-serif;
}
.top{
    padding-left: 200px;
    padding-top: 150px;
}
.h1{
    font-size: 100px;
}
#p{
    font-size: 30px;
}
.img1{
    padding-left: 300px;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.box1{
    padding-top:1px;
}
.my{
    font-family: sans-serif;
    font-weight:bolder;
    font-size: 75px;
}
.alif{
    color: orange;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 70px;
}
.con{
    text-align: center;
}
.p{
    font-size: 20px;
}
.baby{
 width: 30%;
 border-radius: 10px;
padding-left: 30px;

}
.mis{
    font-size: 40px;
    font-weight: 700;
}
#developer{
    background-color: lightblue;
    margin-left: 10%;
}
#full{
    background-color:pink ;
    margin-left: 2%;
}
#stak{
    background-color: lightyellow;
    margin-left: 2%;
    margin-right: 10%;
}

.img3{
padding-left: 200px;
padding-bottom: 90px;
}
.box3{
    background-image:url(images/shapes/shape-6.png) ;
background-repeat: no-repeat;
background-size: 200px;
background-position: bottom;
margin-right: 30%;
}
.with{
    font-size: 50px;
    font-family: sans-serif;
}
.shamim{
    padding-left: 60px;
}
.fatima{
    padding-left: 200px;
}
.img4{
    padding-right: 100px;
    padding-left: 40px;
    background-image:url(shape-1.png) ;
background-repeat: no-repeat;
background-size: 200px;
background-position: right;
margin-right: 5%;

}
.app{
    text-align: center;
    font-family: sans-serif;
    font-size: 70px;
}
.build{ 
    color: orange;
}
#span{
    color: orange;
    font-family: sans-serif;
    font-size: 60px;
}
#app{
    font-family: sans-serif;
    font-size: 60px;
}
.img5{
    padding-left: 200px;
}
.jabad{
    padding-left: 60px;
}
.foot{
    background-color: black;
    padding-top: 2%;
}
.head{
    color: white;
    text-align: center;
    font-family: cursive;
}
.body{
    color: tomato;
    font-family: cursive;
}
.box{
color: white;
text-align: center;
height: 100px;
}
